ion-header {
    background-color: #f8f9fa; /* Fondo del encabezado */
  }
  
  ion-img {
    border: 2px solid #007bff; /* Borde de la imagen de perfil */
  }
  
  h2 {
    margin: 10px 0;
  }
  
  p {
    color: #6c757d; /* Color del texto secundario */
  }