// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
// Define your custom color palette
$primary: #219ebc;      // Color primario
$secondary: #023047;    // Color secundario
$tertiary: #ffb703;     // Color terciario
$success: #8ecae6;      // Color de éxito
$warning: #fb8500;      // Color de advertencia
$danger: #ff0000;       // Color de peligro

// Customize additional colors if needed
$light: #ffffff;        // Color claro
$dark: #000000;         // Color oscuro

// Add your color variables here