<ion-content class="ion-padding" [fullscreen]="true" style="--overflow: hidden;">
  <ion-grid style="height: 100vh; display: flex; flex-direction: column; justify-content: center;">
    <ion-row class="ion-justify-content-center">
      <ion-col size="auto" class="ion-text-center">
        <ion-img src="assets/svg/user.svg" style="max-width: 150px; max-height: 150px;"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <ion-item>
          <ion-label position="floating">Usuario</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <ion-item>
          <ion-label position="floating">Correo Electrónico</ion-label>
          <ion-input type="email"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <ion-item>
          <ion-label position="floating">Confirmar Contraseña</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="auto">
        <ion-button color="primary" routerLink="/home">
          Registrarse
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="auto" class="ion-text-center">
        <p>¿Ya tienes una cuenta? <ion-router-link routerLink="/login" color="primary">Iniciar Sesión</ion-router-link></p>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="auto" class="ion-text-center">
        
        <span>
          <ion-buttons slot="start">
            <ion-button>
              <ion-icon color="primary" slot="start" name="logo-google"></ion-icon>
              Google
            </ion-button>
            <ion-button>
              <ion-icon color="primary" slot="start" name="logo-facebook"></ion-icon>
              Facebook
            </ion-button>
          </ion-buttons>
        </span>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
