<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="lugar">{{ lugar.nombre }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="lugar" class="ion-padding">
  <ion-card>
    <img [src]="lugar.imagen" alt="Imagen del lugar" />
    <ion-card-header>
      <ion-card-title>{{ lugar.nombre }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{ lugar.descripcion }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>